---
layout: default
language: en
permalink: /en
---
    <header class="landing">
        <div id="navbar" class="content">
            <h2 id="logo">
                <img src="/assets/images/zephir_logo.png" alt="">
            </h2>
            <div class="responsive_nav">
                <i class="fa fa-bars"></i>
            </div>
            <nav>
                <ul>
                    <li class="current">
                        <a href="/">
                            {{ site.data.en.home }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/phalcon/zephir">
                            {{ site.data.en.github }}
                        </a>
                    </li>
                    <li>
                        <a href="https://docs.zephir-lang.com/">
                            {{ site.data.en.documentation }}
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.zephir-lang.com/">
                            {{ site.data.en.support }}
                        </a>
                    </li>
                    <li>
                        <select class="languageSelector"
                                onchange="javascript:location.href = this.value;">
                        {% for language in site.app.languages %}
                            <option value="{{ site.url }}/{{ language }}"{% if language == page.language %} selected="selected"{% endif %}>
                                {{ site.data.supported[language].name }}
                            </option>
                        {% endfor %}
                        </select>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
        <div id="calltoaction" class="content">
            <div class="cd-intro">
                <h1 class="cd-headline slide">
                    <span>{{ site.data.en.encancePhp }} </span>
                    <span class="cd-words-wrapper">
                            <b class="is-visible">{{ site.data.en.encancePhpFaster }}</b>
                            <b>{{ site.data.en.encancePhpBetter }}</b>
                            <b>{{ site.data.en.encancePhpReliable }}</b>
                        </span><br/>
                    <!--<span>While Improving The User Experience</span>-->
                </h1>
            </div><!-- END HEADLINE ANIMATION -->

            <div class="try-btn">
                <a href="https://github.com/phalcon/zephir" class="btn btn-pink">
                    <i class="fa fa-download"></i> {{ site.data.en.download }}
                    <span class="description">{{ site.data.en.version }} {{ site.app.version }}</span>
                </a>
                <a href="#" class="btn btn-blue">
                    <i class="fa fa-play-circle-o"></i> {{ site.data.en.aSmallTaste }}
                    <span class="description">{{ site.data.en.seeWhatZCanDo }}</span>
                </a>
            </div>
        </div>
    </header>

    <section>
        <div id="rotated_box">
            <div class="content">
                <div class="column">
                    <div class="feacture_image"><img src="/assets/images/system.png"></div>
                    <h3>{{ site.data.en.typeSystem }}</h3>
                    <p>{{ site.data.en.typeSystemDescription }}</p>
                </div>
                <div class="column">
                    <div class="feacture_image"><img src="/assets/images/memory.png"></div>
                    <h3>{{ site.data.en.memorySafety }}</h3>
                    <p>{{ site.data.en.memorySafetyDescription }}</p>
                </div>
                <div class="column">
                    <div class="feacture_image"><img src="/assets/images/compilation.png">
                    </div>
                    <h3>{{ site.data.en.compilationModel }}</h3>
                    <p>{{ site.data.en.compilationModelDescription }}</p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </section>

    <section id="about_project">
        <div class="content">
            <div class="col col-x5">
                <h2>{{ site.data.en.everythingYouNeed }}</h2>
                <p>{{ site.data.en.everythingYouNeedDescription1 }}</p>
                <p>{{ site.data.en.everythingYouNeedDescription2 }}</p>
            </div>
            <div class="col col-x5">
                <h2>{{ site.data.en.needAHand }}</h2>
                <a href="https://docs.zephir-lang.com/en/latest/installation"
                   class="bubbletext text-violet">
                    {{ site.data.en.howToInstall }}
                </a>
                <a href="https://docs.zephir-lang.com/en/latest/introduction"
                   class="bubbletext text-violet">
                    {{ site.data.en.readTutorials }}
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section>
        <div id="contributors"></div>
    </section>

    <footer>
        <div class="content">
            <div class="left-content">
                <div class="col">
                    <strong>{{ site.data.en.main }}</strong>
                    <a href="http://github.com/phalcon/zephir" class="download">
                        {{ site.data.en.download }}
                    </a>
                    <a href="http://docs.zephir-lang.com/">
                        {{ site.data.en.documentation }}
                    </a>
                    <a href="http://docs.zephir-lang.com/en/latest/installation">
                        {{ site.data.en.installation }}
                    </a>
                </div>
                <div class="col">
                    <strong>{{ site.data.en.others }}</strong>
                    <a href="http://docs.zephir-lang.com/en/latest/language">
                        {{ site.data.en.basicSyntax }}
                    </a>
                    <a href="http://docs.zephir-lang.com/en/latest/operators">
                        {{ site.data.en.operators }}
                    </a>
                    <a href="https://docs.zephir-lang.com/en/latest/arrays">
                        {{ site.data.en.arrays }}
                    </a>
                </div>
                <div class="col">
                    <strong>{{ site.data.en.zephir }}</strong>
                    <a href="#">{{ site.data.en.whatIsIt }}</a>
                    <a href="#">{{ site.data.en.team }}</a>
                    <a href="#">{{ site.data.en.contactUs }}</a>
                </div>
            </div>
            <div class="right-content">
                <strong>{{ site.data.en.getInTouch }}</strong>
                <span>{{ site.data.en.followUsOnSocialMedia }}</span>

                <div class="social-links">
                    <a href="http://twitter.com/zephirlang" class="tt-icon"></a>
                    <a href="https://github.com/phalcon" class="github-icon">
                        <svg height="40" version="1.1" viewBox="0 0 16 16" width="40" style="">
                            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="developed">
            <div class="content">
                {{ site.data.en.websiteDesignedBy }}
                <a href="http://www.mctekk.com/" class="logo">
                    <img src="/assets/images/mctekk-logo.png" alt=""/>
                </a>
            </div>
        </div>
    </footer>
