---
layout: default
language: en
permalink: /en
---
    <header class="landing">
        <div id="navbar" class="content">
            <div id="logo">
                <img src="/assets/images/zephir_logo.png" alt="Zephir logo">
            </div>
            <div class="responsive_nav">
                <i class="fa fa-bars"></i>
            </div>
            <nav>
                <ul>
                    <li class="current">
                        <a href="/">
                            {{ site.data.en.home }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/phalcon/zephir">
                            {{ site.data.en.github }}
                        </a>
                    </li>
                    <li>
                        <a href="https://docs.zephir-lang.com/">
                            {{ site.data.en.documentation }}
                        </a>
                    </li>
<!--                    <li>-->
<!--                        <a href="https://forum.zephir-lang.com/">-->
<!--                            {{ site.data.en.support }}-->
<!--                        </a>-->
<!--                    </li>-->
                    <li>
                        <select class="languageSelector"
                                onchange="javascript:location.href = this.value;">
                        {% for language in site.app.languages %}
                            <option value="{{ site.url }}/{{ language }}"{% if language == page.language %} selected="selected"{% endif %}>
                                {{ site.data.supported[language].name }}
                            </option>
                        {% endfor %}
                        </select>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
        <div id="calltoaction" class="content">
            <div class="cd-intro">
                <h1 class="cd-headline slide">
                    <span>{{ site.data.en.encancePhp }} </span>
                    <span class="cd-words-wrapper">
                            <b class="is-visible">{{ site.data.en.encancePhpFaster }}</b>
                            <b>{{ site.data.en.encancePhpBetter }}</b>
                            <b>{{ site.data.en.encancePhpReliable }}</b>
                        </span><br/>
                    <!--<span>While Improving The User Experience</span>-->
                </h1>
            </div><!-- END HEADLINE ANIMATION -->

            <div class="try-btn">
                <a href="https://github.com/phalcon/zephir" class="btn btn-pink">
                    <i class="fa fa-download"></i> {{ site.data.en.download }}
                    <span class="description">{{ site.data.en.version }} {{ site.app.version }}</span>
                </a>
<!--                <a href="#" class="btn btn-blue">-->
<!--                    <i class="fa fa-play-circle-o"></i> {{ site.data.en.aSmallTaste }}-->
<!--                    <span class="description">{{ site.data.en.seeWhatZCanDo }}</span>-->
<!--                </a>-->
            </div>
        </div>
    </header>

    <section>
        <div id="rotated_box">
            <div class="content">
                <div class="column">
                    <div class="feacture_image">
                        <img src="/assets/images/system.png" alt="system">
                    </div>
                    <h3>{{ site.data.en.typeSystem }}</h3>
                    <p>{{ site.data.en.typeSystemDescription }}</p>
                </div>
                <div class="column">
                    <div class="feacture_image">
                        <img src="/assets/images/memory.png" alt="memory">
                    </div>
                    <h3>{{ site.data.en.memorySafety }}</h3>
                    <p>{{ site.data.en.memorySafetyDescription }}</p>
                </div>
                <div class="column">
                    <div class="feacture_image">
                        <img src="/assets/images/compilation.png" alt="compilation">
                    </div>
                    <h3>{{ site.data.en.compilationModel }}</h3>
                    <p>{{ site.data.en.compilationModelDescription }}</p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </section>

    <section id="about_project">
        <div class="content">
            <div class="col col-x5">
                <h2>{{ site.data.en.everythingYouNeed }}</h2>
                <p>{{ site.data.en.everythingYouNeedDescription1 }}</p>
                <p>{{ site.data.en.everythingYouNeedDescription2 }}</p>
            </div>
            <div class="col col-x5">
                <h2>{{ site.data.en.needAHand }}</h2>
                <a href="https://docs.zephir-lang.com/en/latest/installation"
                   class="bubbletext text-violet">
                    {{ site.data.en.howToInstall }}
                </a>
                <a href="https://docs.zephir-lang.com/en/latest/introduction"
                   class="bubbletext text-violet">
                    {{ site.data.en.readTutorials }}
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <div>
        <div id="contributors"></div>
    </div>

    <footer>
        <div class="content">
            <div class="left-content">
                <div class="col">
                    <strong>{{ site.data.en.main }}</strong>
                    <a href="http://github.com/phalcon/zephir" class="download">
                        {{ site.data.en.download }}
                    </a>
                    <a href="http://docs.zephir-lang.com/">
                        {{ site.data.en.documentation }}
                    </a>
                    <a href="http://docs.zephir-lang.com/en/latest/installation">
                        {{ site.data.en.installation }}
                    </a>
                </div>
                <div class="col">
                    <strong>{{ site.data.en.others }}</strong>
                    <a href="http://docs.zephir-lang.com/en/latest/language">
                        {{ site.data.en.basicSyntax }}
                    </a>
                    <a href="http://docs.zephir-lang.com/en/latest/operators">
                        {{ site.data.en.operators }}
                    </a>
                    <a href="https://docs.zephir-lang.com/en/latest/arrays">
                        {{ site.data.en.arrays }}
                    </a>
                </div>
                <div class="col">
                    <strong>{{ site.data.en.zephir }}</strong>
                    <a href="#">{{ site.data.en.whatIsIt }}</a>
                    <a href="https://phalcon.io/{{ page.language }}/team">{{ site.data.en.team }}</a>
                    <a href="mailto:team@phalcon.io">{{ site.data.en.contactUs }}</a>
                </div>
            </div>
            <div class="right-content">
                <strong>{{ site.data.en.getInTouch }}</strong>
                <span>{{ site.data.en.followUsOnSocialMedia }}</span>

                <div class="social-links">
                    <a href="http://twitter.com/zephirlang" class="tt-icon"></a>
                    <a href="https://github.com/phalcon/zephir" class="github-icon">
                        <svg height="40" version="1.1" viewBox="0 0 16 16" width="40" style="">
                            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                    <a href="https://phalcon.link/discord" class="discord-icon">
                        <svg width="40" xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 245 240">
                            <style>.st0{fill:#FFFFFF;}</style>
                            <path class="st0" d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z"></path>
                            <path class="st0" d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="developed">
            <div class="content">
                {{ site.data.en.websiteDesignedBy }}
                <a href="http://www.mctekk.com/" class="logo">
                    <img src="/assets/images/mctekk-logo.png" alt="mctekk"/>
                </a>
            </div>
        </div>
    </footer>
