<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.data[page.language].title }}</title>
<meta name="author" content="{{ site.data[page.language].author }}">
<meta name="application-name" content="{{ site.data[page.language].title }}">
<meta name="description" content="{{ site.data[page.language].description }}">

<!-- Facebook -->
<meta property="og:url" content="{{ site.app.url }}">
<meta property="og:locale" content="{{ page.language }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.app.name }}">
<meta property="og:description" content="{{ site.app.description }}">
<meta property="og:site_name" content="{{ site.app.name }}">
<meta property="og:image" content="https://assets.phalcon.io/zephir/logo.png">
<meta property="og:image:secure_url" content="https://assets.phalcon.io/zephir/logo.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.app.name }}">
<meta name="twitter:description" content="{{ site.app.description }}">
<meta name="twitter:image" content="https://assets.phalcon.io/zephir/logo.png">
<meta name="twitter:image:alt" content="{{ site.app.name }}">
<meta name="twitter:site" content="@{{ site.social.twitter }}">
<meta name="twitter:creator" content="Zephir Language Team">

<link rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://assets.phalcon.io/zephir/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://assets.phalcon.io/zephir/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://assets.phalcon.io/zephir/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://assets.phalcon.io/zephir/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon-precomposed"
      sizes="60x60"
      href="https://assets.phalcon.io/zephir/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="https://assets.phalcon.io/zephir/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon-precomposed"
      sizes="76x76"
      href="https://assets.phalcon.io/zephir/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="https://assets.phalcon.io/zephir/icons/apple-touch-icon-152x152.png">

<link rel="icon"
      type="image/png"
      sizes="196x196"
      href="https://assets.phalcon.io/zephir/icons/favicon-196x196.png">
<link rel="icon"
      type="image/png"
      sizes="96x96"
      href="https://assets.phalcon.io/zephir/icons/favicon-96x96.png">
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://assets.phalcon.io/zephir/icons/favicon-32x32.png">
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://assets.phalcon.io/zephir/icons/favicon-16x16.png">
<link rel="icon"
      type="image/png"
      sizes="128x128"
      href="https://assets.phalcon.io/zephir/icons/favicon-128.png">
<link rel="shortcut icon" type="image/png" href="https://assets.phalcon.io/zephir/icons/favicon.ico">

<meta name="msapplication-TileColor"
      content="#FFFFFF">
<meta name="msapplication-TileImage"
      content="https://assets.phalcon.io/zephir/icons/mstile-144x144.png">
<meta name="msapplication-square70x70logo"
      content="https://assets.phalcon.io/zephir/icons/mstile-70x70.png">
<meta name="msapplication-square150x150logo"
      content="https://assets.phalcon.io/zephir/icons/mstile-150x150.png">
<meta name="msapplication-wide310x150logo"
      content="https://assets.phalcon.io/zephir/icons/mstile-310x150.png">
<meta name="msapplication-square310x310logo"
      content="https://assets.phalcon.io/zephir/icons/mstile-310x310.png">

<link rel='stylesheet'
      type='text/css'
      href='//fonts.googleapis.com/css?family=Lato:400,700' />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
      crossorigin="anonymous" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w="
      crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.min.css?v{{ site.time | date: '%s%N' }}" />