<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.data[page.language].title }}</title>
<meta name="author" content="{{ site.data[page.language].author }}">
<meta name="application-name" content="{{ site.data[page.language].title }}">
<meta name="description" content="{{ site.data[page.language].description }}">

<!-- Facebook -->
<meta property="og:url" content="{{ site.app.url }}">
<meta property="og:locale" content="{{ page.language }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.app.name }}">
<meta property="og:description" content="{{ site.app.description }}">
<meta property="og:site_name" content="{{ site.app.name }}">
<meta property="og:image" content="https://assets.phalcon.io/zephir/logo.png">
<meta property="og:image:secure_url" content="https://assets.phalcon.io/zephir/logo.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.app.name }}">
<meta name="twitter:description" content="{{ site.app.description }}">
<meta name="twitter:image" content="https://assets.phalcon.io/zephir/logo.png">
<meta name="twitter:image:alt" content="{{ site.app.name }}">
<meta name="twitter:site" content="@{{ site.social.twitter }}">
<meta name="twitter:creator" content="Zephir Language Team">

<link rel="apple-touch-icon" sizes="180x180" href="https://assets.phalcon.io/zephir/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://assets.phalcon.io/zephir/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://assets.phalcon.io/zephir/favicons/favicon-16x16.png">
<link rel="shortcut icon" type="image/x-icon" href="https://assets.phalcon.io/zephir/favicons/favicon.ico"/>
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="https://assets.phalcon.io/zephir/favicons/safari-pinned-tab.svg" color="#6f5499">
<meta name="msapplication-config" content="https://assets.phalcon.io/zephir/favicons/browserconfig.xml" />
<meta name="msapplication-TileColor" content="#6f5499">
<meta name="theme-color" content="#6f5499">

<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
      crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}" />