/*CONTRIBUTORS*/

.contributors {
  background-image: url('../images/contributors.png');
  background-size: cover;
  border-bottom: 5px solid #604687;
  border-top: 5px solid #604687;
  height: 255px;
  width: 100%;
}
