/*=============================================================================================================================================
================================================================ GENERAL STYLE ================================================================
=============================================================================================================================================*/

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #141414;
  background-size: cover;
  color: #474546;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  line-height: 34px;
  overflow-x: hidden;
}

.content {
  max-width: 1110px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.clear {
  clear: both;
}

.overflow {
  overflow: hidden;
}

